beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
Django==1.11.6
flake8==3.5.0
djangorestframework==3.7.0
html5lib==0.999999999
idna==2.6
mechanize==0.3.6
nltk==3.2.5
oauthlib==2.0.6
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
tweepy==3.5.0
urllib3==1.22
webencodings==0.5.1
