{% extends 'integrations/base.html' %}

{% block main %}
 
<div class="col-md-2 text-center" >
    <div class="row small-buffer">

    <form action="#" method="get">
        <input name="text_message_home" type="submit" class="btn btn-success" value="Text Message Home">
    </form>

    <div class="row small-buffer">

    <form action="#" method="get">
        <input name="twitter_home" type="submit" class="btn btn-info" value="Twitter Home">
    </form>

    <div class="row small-buffer">

    <form action="#" method="get">
        <input name="instagram_home" type="submit" class="btn btn-warning" value="Instagram Home">
    </form>

</div>

{% endblock %}
