{% extends 'integrations/base.html' %}

{% block main %}
{% autoescape off %}   
{% if sentences %}

<div style="padding-left:3%; padding-right:3%">
    <div class="container">
            <section class="content">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                        {% for sentence in sentences %}
                                            <tr data-status="pagado">
                                                <td>
                                                    <div class="ckbox">
                                                        <input type="checkbox" id={{ sentence.id }}>
                                                        <label for={{ sentence.id }}></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h4 class="title">
                                                        <span class="pull-right pagado">
                                                            {{ sentence.author }}
                                                            ::
                                                            {{ sentence.content }}
                                                        </span>
                                                    </h4>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                </div>
            </section>
            
        </div>
    </div>
</div>

{% endif %}
{% endautoescape %}

{% endblock %}
