{% extends 'integrations/base.html' %}
{% block main %}

<form action='#' method='get'>
	<input name='go_back_to_home' type='submit' class='btn btn-default' value='Home'>
</form>

<div align='middle'>
    <h6>Texts: {{ len_texts }}</h6>
    <h6>Text Caches: {{ len_caches }}</h6>
    <h6>Text Beginning Caches: {{ len_beginning_caches }}</h6>

	<form action='#' method='get'>
		<input name='read_raw_texts' type='submit' class='btn btn-success' value='Consume Raw Texts'>
		<input name='generate_text' type='submit' class='btn btn-primary' value='Generate Text'>
		<input name='convert_to_instagram_posts' type='submit' class='btn btn-danger' value='Convert To Instagram Posts'>
		<input name='clear_texts' type='submit' class='btn btn-danger' value='Clear All Texts'>
	</form>
</div>

<div class='row small-buffer'>

{% include 'integrations/sentence_list.html' with table_title='' sentences=texts %}

{% endblock %}
