{% extends 'integrations/base.html' %}

{% block main %}

<form action='#' method='get'>
    <input name='go_back_to_home' type='submit' class='btn btn-default' value='Home'>
</form>

<form action='#' method='get'>
    <input name='auto_like' type='submit' class='btn btn-warning' value='Auto Like!'>
</form>

<form action='#' method='get'>
    <input name='refresh' type='submit' class='btn btn-info' value='Refresh Data!'>
</form>

<div align='middle'>
    <img src="http://127.0.0.1:8000/integrations/tinder_graphs" />
</div>
{% endblock %}
