{% extends 'integrations/base.html' %}

{% block main %}
    <div class="row small-buffer">

    <form action="#" method="get">
        <input name="go_back_to_home" type="submit" class="btn btn-default" value="Home">
    </form>

    <div class="row small-buffer">

    <form action="#" method="get">
        <input name="scrape_top_twitter_people" type="submit" class="btn btn-default" value="Scrape All Twitter Users">
    </form>

    <div class="row small-buffer">

    {% if twitter_people %}
        <table align="center">
        {% for twitter_person in twitter_people %}
            <div class="sub">
                <a name="go_to_twitter_person" 
                                href="/integrations/twitter_person_detail/{{ twitter_person.username }}"
                                value={{ twitter_person.username }}
                                class="invisible-button">

                    <div class="image-cropper">
                        <img src={{ twitter_person.avatar }} align="middle"/>
                    </div>
                    <h5>{{ twitter_person.real_name}}</h5> 
                </a>
            </div>
        {% endfor %}
        </table>

    {% else %}
            <p>No twitter people in the database.</p>
    {% endif %}
{% endblock %}
