{% extends 'integrations/base.html' %}
{% load render_bundle from webpack_loader %}
{% block main %}

<form action="#" method="get">
    <input name="go_back_to_list" type="submit" class="btn btn-default" value="User List">
    <input name="clear_all_conversations" type="submit" class="btn btn-default" value="Clear All Conversations">
</form>



<div align="middle">
    <div class="image-cropper">
        <img src={{ person.avatar }} align="middle"/>
    </div>

    <div id="root" ></div>
    <div id="user-data"
        mention_percentage={{ attrs.mention_percentage }}
        retweet_percentage={{ attrs.retweet_percentage }}
        link_percentage={{ attrs.link_percentage }}
        hash_percentage={{ attrs.hash_percentage }}>
    </div>
    <svg id="svg"></svg>

    <h2>{{ person.real_name}}</h2>
    <h4>@{{ person.username }}</h2>
    <h6>Sentences: {{ len_sentences }}</h6>
    <h6>Markov Sentences: {{ len_markov_sentences }}</h6>

    <form action="#" method="get">
        <input name="scrape" type="submit" class="btn btn-success" value="Scrape">
        <input name='generate_post' type='submit' class='btn btn-primary' value='Generate Post'>
        <input name='clear_posts' type='submit' class='btn btn-danger' value='Clear All Posts'>

        <input name='show_original' type='submit' class='btn btn-default' value='Show Original Sentences'>
        <input name='show_markov' type='submit' class='btn btn-warning' value='Show Markov Sentences'>
    </form>
</div>

<div class="row small-buffer"></div>

{% render_bundle 'main' %}

{% include "integrations/pool_table.html" with table_title='' pool_form=pool_form %}
{% include "integrations/sentence_list.html" with table_title='' sentences=sentences %}

{% endblock %}
